<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>LiveStatusService</servlet-name>
		<servlet-class>com.bhavit.pnrexpress.service.LiveStatusService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LiveStatusService</servlet-name>
		<url-pattern>/LiveStatusService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PnrStatusService</servlet-name>
		<servlet-class>com.bhavit.pnrexpress.service.PnrStatusService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PnrStatusService</servlet-name>
		<url-pattern>/PnrStatusService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TrainRouteService</servlet-name>
		<servlet-class>com.bhavit.pnrexpress.service.TrainRouteService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrainRouteService</servlet-name>
		<url-pattern>/TrainRouteService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TrainsBetweenStationService</servlet-name>
		<servlet-class>com.bhavit.pnrexpress.service.TrainsBetweenStationService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrainsBetweenStationService</servlet-name>
		<url-pattern>/TrainsBetweenStationService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateCheckService</servlet-name>
		<servlet-class>com.bhavit.pnrexpress.service.UpdateCheckService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCheckService</servlet-name>
		<url-pattern>/UpdateCheckService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SeatAvailabilityService</servlet-name>
		<servlet-class>com.bhavit.pnrexpress.service.SeatAvailabilityService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SeatAvailabilityService</servlet-name>
		<url-pattern>/SeatAvailabilityService</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
